/* html * { */
/*   font-size: 14px; */
/* } */

.container navbar {
  width: 105%;
  padding: 0;
  margin: 0 auto 0 auto;
}

.table {
  width: 100%;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.row {
  font-size: 14px;
}
