{% extends "evening/base_generic.html" %}

{% block content %}
<h2>Штатний розклад та списочний состав </h2>

  <p>кількість за штатом {{soldiers_list.count}} кількість за списком  </p>

<!-- <h2>Dynamic content of the new site</h2> -->

  <!-- <p>The library has the following record counts:</p> -->
  <!-- <ul> -->
  <!--   <li><strong>Books:</strong> {{ SoldiersList.name}}</li> -->
  <!--   <li><strong>Copies:</strong> {{ num_instances }}</li> -->
  <!--   <li><strong>Copies available:</strong> {{ num_instances_available }}</li> -->
  <!--   <li><strong>Authors:</strong> {{ num_authors }}</li> -->
  <!-- </ul> -->
  <!-- <ul> -->
    
  <table>
  <tr>
    <th>код посади</th>
    <th>Звання</th>
    <th>Прізвище</th> 
    <th>Імʼя</th>
    <th>По батькові</th>
  </tr>
    {% for i in soldiers_list %}
  <tr>
    <td><a href="{}">{{i.slug}}</a></td>
    <td><a href="{}">{{i.position_name}}</a></td>
    <td>{{i.rank}}</td>
    <td><a href="">{{i.surname}}</a></td> 
    <td>{{i.name}}</td>
    <td>{{i.fathers_name}}</td>
  </tr>
    {% endfor %}
</table>
{% endblock %}
