{% extends "evening/base_generic.html" %}

{% block content %}
<h4>
  <div class="variable">
    <span>{{soldiers_card.position_name}}</span>
    <span>{{soldiers_card.rank}}</span>
    <span>{{soldiers_card}}</span>
    <span>({{soldiers_card.callsign}})</span>
    <span><a href="/index/soldiers_card/{{soldiers_card.pk}}/renew/">Редагувати</a></span>
  </div>
</h4>

<div class="">
  <span>Закріплена зброя</span>
  {% for w in soldiers_card.weapons_set.all %}
    <span>{{w.weapon_name}}</span>
    <span>{{w.weapon_number}}</span>
</div>

  {% endfor %}
{% endblock %}
