{% extends "evening/base_generic.html" %}
{% block content %}
<h2>Карктка війсковослужбовця{{ soldiers_card }}</h2>
  <style type="text/css">
    TABLE {
      <!-- width: 300px; /* Ширина таблицы */ -->
      border: 2px solid black; /* Рамка вокруг таблицы */
      }
    TD, TH {
      padding: 5px; /* Поля вокруг содержимого ячеек */
      border: 1px solid black; /* Рамка вокруг таблицы */
      }
    TH {
      text-align: left; /* Выравнивание по левому краю */
      background: black; /* Цвет фона */
      color: white; /* Цвет текста */
      }
  </style>
<table>
  <tbody>
    <tr>
      <th>Позивний 
      <td>{{soldiers_card.callsign}}
    </tr>
    <tr>
      <th>Код посади
      <td>{{soldiers_card.slug}}
    </tr>
    <tr>
      <th>Посада
      <td>{{soldiers_card.position_name}}
    </tr>
    <tr>
      <th>Код посади
      <td>{{soldiers_card.slug}}
    </tr>
    <tr>
      <th>Код посади
      <td>{{soldiers_card.slug}}
    </tr>
    <tr>
      <th>Код посади
      <td>{{soldiers_card.slug}}
    </tr>
    <tr>
      <th>Код посади
      <td>{{soldiers_card.slug}}
    </tr>
    <tr>
      <th>Код посади
      <td>{{soldiers_card.slug}}
    </tr>
    <tr>
      <th>Код посади
      <td>{{soldiers_card.slug}}
    </tr>
    <tr>
      <th>Код посади
      <td>{{soldiers_card.slug}}
    </tr>
  </tbody>
</table>
{% endblock %} 
