{% extends "evening/base_generic.html" %}
{% block content %}

<head> </head>
<div class="container">
    <h3>Редагування картки військовослужбовця</h3>
    <p>кількість за штатом {{soldiers_list.count}} кількість за списком {{cont}}</p>
    <form method="POST" action="{% url 'soldier-card-update' pk=object.pk %}" class="form-group form-control">
        <table class="table table-sm">
            {% csrf_token %}
            {{form.as_table}}
        </table>
        <div>
            <button type="submit" class="btn btn-primary">Зберегти</button>
        </div>
    </form>


</div>
{% endblock %}