{% extends "evening/base_generic.html" %}
{% block content %}

<head> </head>
<div class="container">
    <h3>Редагування картки військовослужбовця</h3>
    <p>кількість за штатом {{soldiers_list.count}} кількість за списком {{cont}}</p>
    <form class="form-horizontal">
        <div class="form-group">
            {% for f in form %}
          <label for="inputEmail3" class="col-sm-2 control-label">{{ f.label }}</label>
            <input class="form-control form-control-sm" type="text" value={{ f.value }} >
            {% endfor %}
          </div>
      </form> 
</div>
{% endblock %}
