{% extends "evening/base_generic.html" %} 
{% block content %}
<h2>Список зброї підрозділу</h2>

  <style type="text/css">
    TABLE {
      <!-- width: 300px; /* Ширина таблицы */ -->
      border: 2px solid black; /* Рамка вокруг таблицы */
      }
    TD, TH {
      padding: 3px; /* Поля вокруг содержимого ячеек */
      border: 1px solid black; /* Рамка вокруг таблицы */
      }
    TH {
      text-align: left; /* Выравнивание по левому краю */
      background: black; /* Цвет фона */
      color: white; /* Цвет текста */
      }
  </style>
  <table cellspacing = 1>
<table>
  <tr>
    <th>Тип зброї</th>
    <th>Найменування</th>
    <th>Номер</th>
    <th>Рік виготовлення</th>
    <th>Закріплено</th>
    <th>Рєєстрація</th>
  </tr>
  {% for w in weapons_list %}
  <tr>
    <td>{{w.weapon_type.w_type}}</a></td>
    <td>{{w.weapon_name}}</td>
    <td><a href="{}">{{w.weapon_number}}</td>
    <td>{{w.year_manufacture|date:"Y"}}</td>
    <td>{{w.soldier_ref}}</td>
    <td>{{w.registration}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
